<div class="content">
  <h2 id="title">Issue License</h2>
  <form class="row g-2" id="addLicenseForm" method="POST">
    <h4>License Information</h4>
    <hr />
    <div class="row">
      <div class="col-sm-6">
        <label for="Issue Date" class="form-label">Issue Date</label>
        <input
          type="date"
          name="issueDate"
          class="form-control"
          placeholder="Issue Date"
        />
      </div>
      <div class="col-sm-6">
        <label for="Expiry Date" class="form-label">Expiry Date</label>
        <input
          type="date"
          name="expiryDate"
          class="form-control"
          placeholder="Expiry Date"
        />
      </div>
    </div>
    <div class="row">
      <div class="col">
        <button
          id="licenseSubmit"
          class="btn btn-primary"
          type="submit"
        >Submit</button>
      </div>
    </div>
  </form>
</div>