<div class="container d-flex align-items-center flex-column">
  <h2>Owner Details</h2>
</div>

<div>
  <strong>Owner: </strong>
</div>

<section class="row">
  <div class="col-12">
    <table
      class="sortable table table-sm table-bordered table-striped table-hover"
    >
      <thead>
        <tr>
          <th>Heading 1</th>
          <th>Heading 2</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Body 1</td>
          <td>Body 2</td>
        </tr>
      </tbody>
    </table>
  </div>
</section>