<h2 class="text-center">Add User</h2>
<form class="row g-5 m-auto" method="POST">
  <!-- check for error messages in the session -->
  {{#if message}}
    <div class="alert alert-danger">
      {{message}}
    </div>
  {{/if}}
  <div class="col-md-8 m-auto mt-5">
    <h4>User Information</h4>
    <hr />
    <div class="row">
      <!-- First Name -->
      <div class="col-sm-6">
        <label for="First Name" class="form-label">First Name</label>
        <input
          id="firstName"
          type="text"
          placeholder="First Name"
          class="form-control"
          name="firstName"
          pattern="[^()/><\][\\\x22,;|]+"
          title="No special characters!"
          value="{{{formData.firstName}}}"
          maxlength="25"
        />
      </div>
      <!-- Last Name -->
      <div class="col-sm-6">
        <label for="Last Name" class="form-label">Last Name</label>
        <input
          id="lastName"
          type="text"
          placeholder="Last Name"
          class="form-control"
          name="lastName"
          pattern="[^()/><\][\\\x22,;|]+"
          title="No special characters!"
          value="{{formData.lastName}}"
          maxlength="25"
        />
      </div>
    </div>
</form>