<div class="container d-flex align-items-center flex-column">
   <h2>Dog Tag Licenses</h2>
</div>

<!-- Table -->
<section class="row">
   <div class="col-12">
      <table class="table table-bordered table-striped table-hover">
         <thead>
            <tr>
               <th>Owner ID</th>
               <th>Owner First Name</th>
               <th>Owner Last Name</th>
               <th>Actions</th>
            </tr>
         <tbody>
            <tr>
               <td>owner id</td>
               <td>first name</td>
               <td>last name</td>
               <td><a href="#" class="btn btn-danger" id="deleteButton">Delete</a>
            </tr>
         </tbody>
         </thead>
      </table>
   </div>
</section>