<div class="p-3">
  <div class="panel panel-heading">
    <p class="text-start fs-4">
      <i class="bi bi-house-door-fill"></i>
      Clerks and Enforcement Database
    </p>
  </div>
</div>
<div class="text-center mt-4">
  <img src="/images/bwg-background.gif" alt="bwg-logo" />
</div>