<!--
  @author Bobby Jonkman
 -->

<div class="d-flex flex-column justify-content-center">
  <div class="p-2 mb-2">
    <div class="panel panel-heading">
      <p class="text-start fs-4">
        <i class="bi bi-house-door-fill"></i>
        Clerks and Enforcement Database
      </p>
    </div>
  </div>
  <div class="text-center mt-4 mb-2">
    <img src="/images/bwg-background.gif" alt="bwg-logo" />
  </div>
  <!-- Hero -->
  <div class="container col-xl-8 px-1 py-1 mt-5">
    <div class="row flex-lg-row-reverse align-items-center g-5 py-5 mt-4">
      <div class="col-10 col-sm-8 col-lg-6">
        <img
          src="/images/filehold.PNG"
          class="d-block img-fluid"
          alt="Filehold"
          width="500"
          height="300"
          style="border: 1px solid black;"
        />
      </div>
      <div class="col-lg-6 mb-4">
        <h1 class="display-5 fw-bold lh-1 mb-3">BWG Licensing Web App
          Documentation</h1>
        <p class="lead">If your not sure how to do something, click the button
          below to find some helpful documentation located on Filehold! If you
          don't see any available apps, you may need to contact IT for
          assistance.</p>
        <div class="d-grid gap-2 d-md-flex justify-content-md-start">
          <a href="#" class="btn btn-primary btn-bwg btn-lg px-4 me-md-2">Coming
            Soon!</a>
        </div>
      </div>
    </div>
  </div>
</div>