<div class="content">
  <div class="formTitle">
    <div class="panel panel-heading">
      <p>
        <i class="bi bi-house-door-fill"></i>
        Clerks and Enforcement Database
      </p>
    </div>
  </div>
  <img src="/images/bwg-background.gif" id="bwgBackground" alt="bwg-logo" />
</div>