<div class="container d-flex align-items-center flex-column">
   <h2>Example Form</h2>
   <form method="POST">
        <select name="dropdown" id="dropdown">
            <option value="default" disabled selected>select a value...</option>
            {{#each data}}
            <option value="dropdownValue">{{this.value}}</option>
            {{/each}}
        </select>
    </form>
</div>

<!-- Table -->
<section class="row">
<div class="col-12">
   <table class="table table-striped table-hover">
      <thead>
         <tr>
            <th>Dropdown ID</th>
            <th>Value</th>
            <th>Actions</th>
         </tr>
      <tbody>
        {{#each data}}
         <tr>
            <td>{{this.dropdownID}}</td>
            <td>{{this.value}}</td>
            <td><a href="#" class="btn btn-primary">Edit</a> <a href="/delete/{{this.dropdownID}}" class="btn btn-danger">Delete</a>
         </tr>
         {{/each}}
      </tbody>
      </thead>
   </table>
</div>