<div class="container d-flex align-items-center flex-column">
  <h2>Login</h2>
  <form method="POST">
    <div class="loginBox">
      <label for="email" class="form-label">Email</label>
      <input
        class="form-control"
        id="email"
        name="email"
        placeholder="Email"
        type="email"
        required
      />
      <label for="password" class="form-label">Password</label>
      <input
        class="form-control"
        id="password"
        name="password"
        placeholder="*********"
        type="password"
        required
      />
      <div class="row align-items-center">
        <div class="col">
          <button id="loginButton" class="btn btn-success">Login</button>
        </div>
        <div class="col">
          <p class="text-nowrap" id="accessHelper">Don't have an account?
            <a href="/register">Register here</a>
          </p>
        </div>
      </div>
    </div>
  </form>

  <div class="testButtons">
    <div class="container">
      <div class="row">
        <div class="col-md-auto">
          <button class="btn btn-primary" onclick="adminLogin()">Admin</button>
          <button class="btn btn-secondary" onclick="userLogin()">User</button>
        </div>
      </div>
    </div>
  </div>

  <br />

  <!-- check for error messages in the session -->
  {{#if message}}
    <div class="alert alert-danger">
      {{message}}
    </div>
  {{/if}}
</div>