<div class="container d-flex align-items-center flex-column">
  <h2>Login</h2>
  <form method="POST">
    <div class="loginBox">
      <label for="username" class="form-label">Username</label>
      <input
        class="form-control"
        id="username"
        name="username"
        placeholder="Username"
        type="email"
        required
      />
      <label for="password" class="form-label">Password</label>
      <input
        class="form-control"
        id="password"
        name="password"
        placeholder="*********"
        type="password"
        required
      />
      <div class="row align-items-center">
        <div class="col">
          <button id="loginButton" class="btn btn-success">Login</button>
        </div>
        <div class="col">
          <p class="text-nowrap" id="accessHelper">Don't have an account?
            <a href="/register">Register here</a>
          </p>
        </div>
      </div>
    </div>
  </form>
  <br />

  <!-- check for error messages in the session -->
  {{#if message}}
    <div class="alert alert-danger">
      {{message}}
    </div>
  {{/if}}
</div>