<div class="container d-flex align-items-center flex-column">
  <h2>Planning Division</h2>
</div>

<div class="container">
    <h3>Form</h3>
  <input type="text" class="form-control" placeholder="Example Text" />
</div>