<div class="container d-flex align-items-center flex-column">
  <h2>Register</h2>
  <form method="POST">
    <div class="registerForm">
      <label>Username</label>
      <input
        class="form-control"
        name="username"
        placeholder="Username"
        type="text"
      />
      <label>Password</label>
      <input
        class="form-control"
        name="password"
        placeholder="*********"
        type="password"
      />
      <div class="row align-items-center">
        <div class="col">
          <button id="registerButton" class="btn btn-success">Register</button>
        </div>
        <div class="col">
          <p class="text-nowrap" id="accessHelper">Already have an account?
            <a href="/login">Login here</a>
          </p>
        </div>
      </div>
    </div>
  </form>
  <br />

  <!-- check for error messages in the session -->
  {{#if message}}
    <div class="alert alert-danger">
      {{message}}
    </div>
  {{/if}}
</div>