/* Login & Register */
body {
  padding: 50px;
  background-color: rgba(179, 179, 179, 0.16);
}

.loginBox,
.registerBox {
  width: fit-content;
  padding: 10px;
  margin-top: 75px;
  border: 1px solid rgb(150, 150, 150);
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  background-color: #fff;
}

.loginBox label,
.registerBox label {
  font-weight: 600;
  font-size: 1.2em;
}

#loginButton,
#registerButton {
  margin-top: 10px;
}

#accessHelper {
  font-size: .95rem;
  margin-top: 25px;
}

/* test buttons */
.testButtons {
  padding: 20px;
}