/* general elements */
body {
  background-color: #fff !important;
  margin-left: 260px;
  padding: 50px;
}

a {
  color: #333 !important;
  text-decoration: none;
}

/* Nav */
#menu_panel {
  height: 100%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  overflow-x: hidden;
  width: 250px;
  border-right: #dedede 1px solid;
  display: flex;
  flex-direction: column;
  background-color: #fff;
}

.menu-img {
  padding: 20px;
}

.usernameDiv {
  font-size: 1.2rem;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
}

.menuitem {
  line-height: 40px;
  text-align: right;
  font-size: small;
  cursor: pointer;
  width: 100%;
  border-top: 1px solid #dedede;
}

.menuitem:hover {
  transition: 0.2s ease-in;
  background-color: rgba(230, 230, 230, 1);
}

.menuitem.last {
  border-bottom: 1px solid #dedede;
}

.menuitem.logout {
  margin-top: auto;
}

.menu-text {
  width: 185px;
  display: inline-block;
  text-align: left;
}

#deleteButton {
  color: #fff !important;
}