html,
body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  padding: 0% !important;
}

a {
  color: #333 !important;
  text-decoration: none;
}

h2 {
  padding-top: 15px;
  text-align: center;
  margin-left: 75px;
  margin-bottom: 10px;
}

table {
  display: inline-table;
  font-size: 0.9rem;
  margin-bottom: 8px !important;
}

form h4 {
  padding-top: 25px;
}

.content {
  background-color: #fff !important;
  margin-left: 255px;
  margin-right: 5px;
}

.title-text {
  font-weight: bold;
}

.btn {
  color: #fff !important;
}

.alert {
  margin-bottom: 0%;
}

.row {
  margin-right: auto;
  margin-bottom: 5px;
}

.back:hover {
  transition: 0.2s ease-in;
  background-color: rgba(0, 150, 214, .75) !important;
}

#bwgBackground {
  display: flex;
  margin: auto;
  margin-top: 30px;
}

/* this makes the entire table cell clickable for the anchor tag. */
.table #ownerLink {
  display: block;
  width: 100%;
  color: #0096d6 !important;
  text-decoration: underline;
}

/* Nav */
.side-nav {
  height: 100%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  overflow-x: hidden;
  width: 250px;
  border-right: #dedede 1px solid;
  display: flex;
  flex-direction: column;
  background-color: #fff;
}

.nav-img {
  padding: 20px;
  text-align: center;
}

.usernameDiv {
  font-size: 0.85rem;
  text-align: center;
  border-bottom: 1px solid #dedede;
}

.menu-item {
  line-height: 40px;
  text-align: right;
  font-size: small;
  cursor: pointer;
  width: 100%;
  border-bottom: 1px solid #dedede;
}

.menu-item:hover {
  transition: 0.2s ease-in;
  background-color: rgba(230, 230, 230, 1);
}

.menu-item.logout {
  border-top: 1px solid #dedede;
  margin-top: auto;
}

.menu-text {
  width: 185px;
  display: inline-block;
  text-align: left;
}

/* nav icons */
.icon-blue {
  color: #0096d6;
}

.icon-large {
  font-size: 15px;
}

/* Index Page */
.formTitle {
  padding: 10px;
}

.panel {
  color: #fff;
  background-color: #0096d6;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
  border-radius: 2px;
}

.panel-heading {
  padding: 10px 20 5px 10px;
}

/* pagination */
.pagination {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.page-item {
  padding: 1.25px;
}

#pagJump {
  font-size: 0.9rem;
  padding-bottom: 10px;
  color: #0096d6 !important;
  cursor: pointer;
  text-decoration: underline;
}

/* this is so the table doesn't wrap the phone number text. */
.phoneNum {
  width: -moz-fit-content;
  /* firefox */
  width: fit-content;
}

/* filterDiv: div above dog license table for filtering results. */
.filterDiv {
  padding-bottom: 5px;
}

/* tedious positioning */
#filterButton {
  margin-bottom: 3.5px;
  margin-left: 5px;
}

#filterValue {
  border-width: thin;
}

/* all forms */
#form {
  max-width: 850px;
  margin: auto;
}

#form .form-label {
  font-weight: 525;
}

/* footer */
.footer-color {
  background-color: #78a22f;
}

.footer {
  margin-top: auto;
  padding: 10px;
}

.footer-center {
  margin-left: 125px;
}

/* misc buttons */
#submitButton {
  margin-top: 10px;
  margin-bottom: 15px;
}

#addOwnerButton,
#registerDogButton,
#addPolicyButton {
  margin-left: auto;
  margin-top: auto;
  margin-bottom: 5px;
}

#addressHistory,
#dogHistory {
  color: #0096d6 !important;
  cursor: pointer;
  text-decoration: underline;
  font-size: small;
}

#addressHistorySection,
#dogHistorySection {
  margin-top: 25px;
}

.newDropdownForm {
  margin-top: 15px;
}

#additionalOwnerLinks {
  color: #0096d6 !important;
  cursor: pointer;
  text-decoration: underline;
  font-size: 0.905rem;
}