a {
  color: #333 !important;
  text-decoration: none;
}

table {
  font-size: 0.9rem;
}

input {
  border-width: thin;
}

/* this folds/breaks words in the table, so that it can fit on the screen */
td {
  word-break: break-all;
}

.nav-item:hover {
  transition: 0.2s ease-in;
  background-color: rgba(230, 230, 230, 1);
}

.nav-item {
  text-align: left;
  font-size: 0.9rem;
  cursor: pointer;
  border-bottom: 1px solid #dedede;
}

/* have to do all 3 elements separate */
.back:hover {
  transition: 0.2s ease-in;
  background-color: rgba(0, 150, 214, .75) !important;
  color: white;
}

.back:hover {
  transition: 0.2s ease-in;
  color: white;
}

.back:hover .icon-large {
  transition: 0.2s ease-in;
  color: white !important;
}

.side-nav {
  height: 100%;
}

.btn {
  color: #fff !important;
}

/* have to do all 3 elements separate */
.back:hover {
  transition: 0.2s ease-in;
  background-color: rgba(0, 150, 214, 0.75) !important;
  color: white;
}

.back:hover .menu-text {
  transition: 0.2s ease-in;
  color: white;
}

.back:hover .menu-text .icon-large {
  transition: 0.2s ease-in;
  color: white !important;
}

#bwgBackground {
  display: flex;
  margin: auto;
}

/* this makes the entire table cell clickable for the anchor tag. */
.table #ownerLink {
  display: block;
  width: 100%;
  color: #0096d6 !important;
  text-decoration: underline;
  cursor: pointer;
}

.usernameDiv {
  font-size: 0.85rem;
  text-align: center;
  border-bottom: 1px solid #dedede;
}

/* nav icons */
.icon-blue {
  color: #0096d6;
}

.icon-large {
  font-size: 15px;
}

/* Index Page */
.formTitle {
  padding: 10px;
}

.panel {
  color: #fff;
  background-color: #0096d6;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
  border-radius: 2px;
}

.panel-heading {
  padding: 10px 20px 5px 10px;
}

/* pagination */
#pagJump {
  font-size: 0.9rem;
  padding-bottom: 10px;
  color: #0096d6 !important;
  cursor: pointer;
  text-decoration: underline;
}

/* all forms */
#form {
  max-width: 850px;
  margin: auto;
}

#form .form-label {
  font-weight: 525;
}

/* footer */
.footer-color {
  background-color: #78a22f;
}

#addOwnerButton,
#registerDogButton,
#addPolicyButton {
  margin-left: auto;
  margin-top: auto;
}

#addressHistory,
#dogHistory,
#procedureHistory,
#guidelineHistory {
  color: #0096d6 !important;
  cursor: pointer;
  text-decoration: underline;
  font-size: small;
}

#getExpiredTags,
#additionalOwnerLinks,
#policyHistoryButton {
  color: #0096d6 !important;
  cursor: pointer;
  text-decoration: underline;
  font-size: 0.85rem;
}