body {
  background-color: #fff !important;
}

/* Nav */
#menu_panel {
  position: absolute;
  width: 250px;
  border-right: #dedede 1px solid;
  display: block;
  background-color: #fff;
}

.usernameDiv {
  font-size: 1.2rem;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
}

a {
  color: #333 !important;
  text-decoration: none;
}

.menu-title {
  padding: 20px;
}

.menu-text {
  width: 185px;
  display: inline-block;
  text-align: left;
}

.menuitem {
  line-height: 40px;
  background-color: #fff;
  text-align: right;
  color: #333;
  font-size: small;
  cursor: pointer;
  width: 100%;
  border-top: 1px solid #dedede;
}
