* {
  box-sizing: border-box;
}

/* Make nav fit to top */
#nav {
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left: 1rem;
  margin-bottom: 5em;
}

body {
  background-color: #FFFFFF !important;
}