<h2 class="text-center">Policies and Procedures</h2>
<div class="content">
  <table class="sortable table table-bordered table-striped table-hover">
    <thead>
      <tr>
        <th>Policy Number</th>
        <th>Policy Name</th>
        <th>Date Adopted</th>
        <th>Status</th>
      </tr>
    </thead>
    <tbody>
      {{#each data}}
        <tr>
          <td><a id="ownerLink" href="#">{{this.policyNumber}}</a></td>
          <td>{{this.policyName}}</td>
          <td>{{this.dateAdopted}}</td>
          <td>{{this.status}}</td>
        </tr>
      {{/each}}
    </tbody>
  </table>
</div>