<h2 class="text-center">Policies and Procedures</h2>
<div class="content">
  <table class="sortable table table-bordered table-striped table-hover">
    <thead>
      <tr>
        <th>Policy ID</th>
        <th>Policy Name</th>
      </tr>
    </thead>
    <tbody>
      {{#each data}}
        <tr>
          <td>{{this.policyID}}</td>
          <td>{{this.policyName}}</td>
        </tr>
      {{/each}}
    </tbody>
  </table>
</div>