<h2 class="text-center mt-2">Add Additional Trial Dates</h2>
<form class="row g-5 m-auto" method="POST">
  <div class="col-md-7 m-auto mt-3">
    <!-- check for error messages in the session -->
    {{#if message}}
      <div class="alert alert-danger">
        {{message}}
      </div>
    {{/if}}
    <h4>Trial Dates</h4>
    <hr />
    <div class="row" id="firstRow">
      <div class="col">
        <label for="Number Of New Trial Dates" class="form-label">Number Of New
          Trial Dates</label>
        <div class="input-group">
          <input
            id="numberOfNewTrialDates"
            type="number"
            class="form-control"
            placeholder="Number Of New Trial Dates"
          />
          <button
            class="btn btn-secondary"
            type="button"
            id="button-addon1"
            onclick="createTrialDateFields();"
          >Add</button>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <button
          id="submitButton"
          class="btn btn-primary mt-2"
          type="submit"
        >Submit</button>
      </div>
    </div>
  </div>
</form>